* {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

/* MENU */
.nav-bar-mobile {
  display: flex;
  justify-content: space-between;
}

/* LOGO & MENU ICONS */
.bookmark-logo {
  width: 35%;
  margin: 25px;
}

/* hamburger icon */
.hamburger-menu-icon {
  display: block;
  width: 5%;
  height: 5%;
  margin: 25px;
}

/* hidden */
.nav-bar-desktop {
  display: none;
}

.mobile-bookmark-logo {
  filter: invert(100%);
  width: 35%;
  margin: 25px;
}

/* close menu icon DONE */
.icon-close {
  position: relative;
  right: 40px;
  width: 20px;
  margin-left: auto;
  height: fit-content;
  top: 25px;
}

/* opens menu when click hamburger */
/* or should it say .mobile-menu */
.open-menu {
  background-color: hsl(229, 31%, 21%, 0.9);
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  transition: margin-right 0.5s ease;
  margin-left: -9px;
  height: 100%;
}

/* closes menu when click X close button WORKS*/
.close-menu {
  background-color: hsl(229, 31%, 21%, 0.9);
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  transition: margin-right 0.5s ease;
  margin-left: -103%;
  height: 100%;
}

/* nav bar with logo and X close button */
.mobile-menu-open-nav {
  display: flex;
  justify-content: space-between;
}

/* buttons */
.mobile-menu button {
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px;
  font-size: initial;
}

.mobile-menu button:hover {
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px 40px;
}

hr {
  width: 80vw;
}

.top-nav-features,
.top-nav-pricing,
.top-nav-contact,
.top-nav-login {
  color: white;
  background-color: hsl(229, 31%, 21%, 0);
  border: none;
}

.nav-social-media-buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.nav-social-media-buttons img {
  margin: 40% 20px;
}

/* HERO SECTION */
.hero-section__img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-section {
  text-align: center;
  margin: 50px 0px;
}

.hero-section__title {
  margin: 15px 5px;
  font-size: 1.5em;
}

.hero-section__description {
  color: hsl(229, 8%, 60%);
  margin: 15px;
  line-height: 27px;
}

.hero-section__button {
  font-family: "Rubik";
  font-weight: 500;
  background-color: #fcfcfc;
  color: hsl(229, 31%, 21%);
  border: solid #fcfcfc;
  box-shadow: 0px 5px 5px hsl(229deg 8% 60% / 27%);
  border-radius: 8px;
  padding: 15px 15px;
  margin: 0px 10px;
}

.hero-section__button:hover {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: solid hsl(231, 69%, 60%);
}

/* FEATURES SECTION */
.features-section {
  text-align: center;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
}

.features-section__description {
  color: hsl(229, 8%, 60%);
  margin: 15px;
  line-height: 27px;
}

.features-section__tabs {
  align-self: center;
  text-align: -webkit-center;
}

.features-section__button {
  display: flex;
  color: hsl(229, 31%, 21%);
  background-color: white;
  border: none;
  align-self: center;
  margin: 15px 40px;
  border-bottom: gray solid 1px;
}

.features-section__button:focus {
  color: black;
  border-bottom: solid 3px red;
}

/* BOOKMARK SECTION */
.bookmark-section {
  text-align: center;
  margin: 60px 0px;
}

.bookmark-section__title {
  margin-top: 75px;
}

/* hidden class for features */
.hidden {
  display: none;
}

.bookmark-section__description {
  color: hsl(229, 8%, 60%);
  margin: 15px;
  line-height: 27px;
}

.bookmark-section__img {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* more info button */
.more-info-button {
  color: white;
  background-color: hsl(231, 69%, 60%);
  border: solid hsl(231, 69%, 60%);
  border-radius: 8px;
  padding: 15px 30px;
  font-weight: 600;
}

/* EXTENSION SECTION */
.download-extension-section {
  text-align: center;
  margin: 60px 0px;
}

.download-extension-section__title {
  font-size: 1.5em;
}

.download-extension-section__description {
  color: hsl(229, 8%, 60%);
  margin: 15px;
  line-height: 27px;
}

.download-extension-section__extension {
  background-color: white;
  box-shadow: 0px 5px 5px hsl(229deg 8% 60% / 27%);
  border-radius: 10px;
  margin: 45px 30px;
}

.download-extension-section__minimum-version-div {
  color: hsl(229, 8%, 60%);
}

.bg-dots {
  margin: 10px 0px;
  width: -webkit-fill-available;
}

.download-extension-section__install-btn {
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: solid hsl(231, 69%, 60%);
  border-radius: 8px;
  padding: 15px 35px;
  margin: 20px 0px;
  font-size: medium;
}

/* FAQ SECTION */
.faq-section {
  text-align: center;
  margin: 60px 0px;
}

.faq-section__description {
  color: hsl(229, 8%, 60%);
  padding: 0px 20px;
  line-height: 27px;
}

.faq-section__faq {
  text-align: left;
  padding: 15px;
}

.faq-section__answer {
  color: gray;
  margin: 0px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.faq-section__question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  margin: 10px 20px;
  border-bottom: gray solid 1px;
}

.question-and-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collapse-faq-answer {
  display: none;
}

.arrow {
  width: 15px;
  height: fit-content;
  transition: ease 0.5s;
  align-self: center;
}

/* add this class when click faq questions */
.open-arrow {
  transform: rotate(180deg);
  transition: ease 0.5s;
}

/* stay up to date with us footer */
.stay-uptodate-with-us-section {
  text-align: center;
  background-color: hsl(231, 69%, 60%);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.stay-uptodate-with-us-section__contact-us-div {
  display: flex;
  flex-direction: column;
}

input {
  font-family: "Rubik", sans-serif;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  margin: 20px;
}

/* add class if email rules no match */
.valid {
  border: none;
}

.invalid {
  border: solid 2px red;
}

.email__error-message {
  display: flex;
  font-style: italic;
  background-color: red;
  text-align: left;
  border-radius: 7px;
  font-size: small;
  padding: 10px 10px 10px;
  margin: -20px 20px 5px;
}

.contact-us-btn {
  background-color: red;
  color: white;
  border: solid red;
  font-weight: 600;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
}

.contact-us-btn:hover {
  background-color: hsl(0, 94%, 66%);
  border: solid hsl(0, 94%, 66%);
}

/* footer styles */
footer {
  background-color: hsl(229, 31%, 21%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer__bookmark-logo {
  filter: invert(100%);
  width: 35%;
  margin: 25px;
  align-self: center;
}

.footer__button {
  background-color: hsl(229, 31%, 21%, 0);
  color: white;
  font-size: initial;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 15px;
  border: none;
}

.footer__button-container {
  display: flex;
  flex-direction: column;
}

.footer__social-media-buttons img {
  margin: 30px 25px;
}

@media screen and (min-width: 1440px) {
  /* nav bars & buttons */
  .bookmark-logo {
    width: 20%;
    margin-left: 8em;
  }

  .nav-bar-mobile {
    display: none;
  }

  .nav-bar-desktop {
    display: flex;
    justify-content: space-between;
  }

  .nav-bar-desktop-buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0px 40px;
  }

  .desktop-nav-features,
  .desktop-nav-pricing,
  .desktop-nav-contact {
    background-color: white;
    margin: 0px 20px;
    text-transform: uppercase;
    font-size: larger;
    border: none;
    cursor: pointer;
  }

  .desktop-nav-login {
    background-color: red;
    color: white;
    margin: 0px 20px;
    text-transform: uppercase;
    font-size: larger;
    border: solid red;
    border-radius: 7px;
    padding: 13px 35px;
    cursor: pointer;
  }

  /* hero section */
  .hero-section {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero-section div {
    align-self: center;
    text-align: left;
    padding: 0px 145px;
  }

  .hero-section__title {
    font-size: xxx-large;
  }

  .hero-section__description {
    margin: 0;
    line-height: 40px;
    font-size: 27px;
  }

  .hero-section__button {
    margin: 25px 30px 0px 0px;
    font-size: larger;
    cursor: pointer;
  }

  /* features section */
  .features-section__title {
    font-size: xxx-large;
  }

  .features-section__tabs {
    display: flex;
    font-size: larger;
    /* border-bottom: solid 1px gray; */
  }

  .features-section__description {
    margin: 25px 350px;
    font-size: 27px;
    line-height: 40px;
  }

  hr {
    display: none;
  }

  .features-section__button {
    flex-direction: row;
    cursor: pointer;
    font-size: larger;
    margin: 0px 30px;
  }

  /* bookmark section */
  .bookmark-section {
    margin-bottom: 300px;
  }

  .bookmark-section__img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }

  .bookmark-section__description {
    margin: 0;
    line-height: 40px;
    font-size: 27px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 35px;
  }

  .more-info-button {
    font-size: larger;
    height: 67px;
    width: 180px;
    cursor: pointer;
  }

  /* fix this display isn't right */
  .simple-bookmarking-container,
  .speedy-searching-container,
  .easy-sharing-container {
    display: flex;
    flex-direction: row;
    margin: 100px;
  }

  /* hidden class for features */
  .hidden {
    display: none;
  }

  .simple-bookmarking-container div,
  .speedy-searching-container div,
  .easy-sharing-container div {
    align-self: center;
    text-align: left;
    padding: 0px 5%;
  }

  /* download extensions section */
  .download-extension-section__description {
    margin: 0;
    line-height: 40px;
    font-size: 27px;
    padding: 0px 315px;
  }

  .download-extension-section__extension-options {
    display: flex;
    margin: 50px 50px;
    justify-content: center;
  }

  .download-extension-section__minimum-version-div {
    font-size: 25px;
    margin-bottom: inherit;
  }

  .extension-firefox {
    position: relative;
    top: 100px;
  }

  .extension-opera {
    position: relative;
    top: 200px;
  }

  .download-extension-section__install-btn {
    font-size: larger;
    cursor: pointer;
  }

  /* faq section */

  .faq-section {
    margin: 450px 70px 100px 70px;
  }

  .faq-section__faq {
    margin: 30px 340px;
  }

  .faq-section__description {
    padding: 0px 366px;
    font-size: 27px;
    line-height: 40px;
  }

  .faq-section p {
    font-size: 18px;
    line-height: 35px;
  }

  .faq div {
    font-size: x-large;
  }

  .faq-section__question {
    font-size: x-large;
  }

  .arrow {
    cursor: pointer;
  }

  /* stay up to date with us section */
  .stay-uptodate-with-us-section small {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 60px;
    letter-spacing: 8px;
  }

  .stay-uptodate-with-us-section__description {
    font-size: 40px;
    padding: 5px 360px;
  }

  .stay-uptodate-with-us-section__contact-us-div {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
  }

  .stay-uptodate-with-us-section__input__email::placeholder {
    font-size: 20px;
  }

  .stay-uptodate-with-us-section__input__email {
    width: 150%;
    align-self: center;
    height: 5.5vh;
    font-size: x-large;
  }

  .email__error-message {
    display: none;
    width: 150%;
    align-self: center;
  }

  .contact-us-btn {
    font-size: larger;
    padding: 15px 30px;
    cursor: pointer;
  }

  /* footer section */
  footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer__logo-and-buttons-container {
    display: flex;
  }

  .footer__bookmark-logo {
    height: 3vw;
  }

  .footer__button-container {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .footer__social-media-buttons {
    align-self: center;
  }
}
